@charset "UTF-8";
/* DEFAULT -*/
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  line-height: 14px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3,
.col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7,
.col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
  padding-right: 0px; }

ul, li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0; }

:focus {
  outline: 0; }

.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

li:focus {
  background-color: transparent !important;
  border-color: none; }

li > a:focus {
  background-color: transparent !important;
  border-color: none; }

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px; }

.nav-link-active {
  opacity: 0.5; }

/*
 barra de scroll navegador 
::-webkit-scrollbar /*fondo{
}
::-webkit-scrollbar-thumb/*barra{
}
.navbar-collapse {
}
*/
/* RESPONSIVE - DEFAULT */
/*mobile--------------------------------------------------*/
/**  MOBILE DISPOSITIVO **/
/*tablet----------------------------------------*/
/**  TABLETS LANDSCAPE **/
/*notbook------------------------------------*/
/*desktop------------------------------*/
/*desktop large-----------------------------------------------*/
/******** LAYOUT ********/
@font-face {
  font-family: 'BrooklynSamuelsFive-Bold';
  src: url("../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.eot");
  src: url("../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.woff2") format("woff2"), url("../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.woff") format("woff"), url("../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.ttf") format("truetype"), url("../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.svg#brooklyn_samuelsno5_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BrooklynSamuelsFive-Fat';
  src: url("../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.eot");
  src: url("../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.woff2") format("woff2"), url("../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.woff") format("woff"), url("../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.ttf") format("truetype"), url("../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.svg#brooklyn_samuelsno5_fat") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon_reg';
  src: url("../fonts/brandon_reg-webfont.eot");
  src: url("../fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg-webfont.woff2") format("woff2"), url("../fonts/brandon_reg-webfont.woff") format("woff"), url("../fonts/brandon_reg-webfont.ttf") format("truetype"), url("../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open_Sans_Regular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.otf"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.otf"), url("../fonts/Gotham-Light.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/Gotham-Medium.eot");
  src: local("☺"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.eot");
  src: local("☺"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/*::-webkit-scrollbar {//fondo
    background-color: rgba(#FFFFFF,.18);
    width: 10px;
}
::-webkit-scrollbar-thumb{//barra

     background-color: rgba(#FFFFFF,.45);
     width: 10px;
}
.navbar-collapse {

     background-color: #d1d1d1;
     width: 10px;
}*/
body {
  background: #3D5927 url("../images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: .5px; }

p {
  letter-spacing: .5px; }

.contenedor {
  width: 1200px;
  margin: 0 auto 40px auto;
  position: relative;
  display: table; }

.contenedor-body {
  min-height: 500px; }

.inactivo {
  opacity: .5; }

.head {
  height: 100px;
  background-color: #009448;
  letter-spacing: 1px; }
  .head img {
    margin: 0 auto;
    display: block; }
  .head .block {
    float: right;
    position: absolute;
    right: 0;
    top: 20px; }
    .head .block select {
      color: #fff;
      font-family: 'BrooklynSamuelsFive-Bold';
      background-color: #009448;
      border: none;
      box-shadow: none;
      background-image: url("../images/background-select2.png");
      background-size: 100% 80%;
      background-repeat: no-repeat;
      background-position-x: 0;
      background-position-y: bottom;
      direction: rtl;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-right: 20px; }
    .head .block .option {
      padding: 10px !important; }
    .head .block .icon-select {
      position: absolute;
      right: 0;
      top: 5px; }
  .head .contenedor {
    min-height: 0px; }
  .head .logout {
    float: right;
    padding-top: 10px;
    cursor: pointer; }
    .head .logout p {
      color: #fff;
      float: left;
      font-family: 'BrooklynSamuelsFive-Bold';
      font-size: 11px;
      padding-top: 2px;
      padding-right: 5px; }
    .head .logout img {
      float: left; }
    .head .logout:hover {
      opacity: .5; }

.titulo-general {
  width: 100%;
  float: left;
  background-color: rgba(229, 172, 14, 0.8);
  -moz-background-color: rgba(229, 172, 14, 0.8);
  -ms-background-color: rgba(229, 172, 14, 0.8);
  -o-background-color: rgba(229, 172, 14, 0.8);
  -webkit-background-color: rgba(229, 172, 14, 0.8); }
  .titulo-general h3 {
    color: #fff;
    font-size: 14px;
    font-family: 'BrooklynSamuelsFive-Bold';
    text-align: center;
    padding: 10px; }

.centrado {
  margin: 0 auto; }

.menu {
  float: left;
  margin-top: 40px; }
  .menu li {
    font-family: 'BrooklynSamuelsFive-Bold';
    float: left;
    position: relative;
    bottom: 0;
    height: 41px;
    margin: 0;
    margin-right: 1px;
    padding: 15px 27px 0 27px;
    font-size: 12px;
    color: #858585;
    background-color: rgba(215, 215, 215, 0.8);
    -moz-background-color: rgba(215, 215, 215, 0.8);
    -ms-background-color: rgba(215, 215, 215, 0.8);
    -o-background-color: rgba(215, 215, 215, 0.8);
    -webkit-background-color: rgba(215, 215, 215, 0.8); }
  .menu .seleccionado {
    height: 51px;
    margin-top: -10px;
    font-size: 20px;
    color: #099642;
    padding-top: 15px;
    background-color: rgba(234, 234, 234, 0.8);
    -moz-background-color: rgba(234, 234, 234, 0.8);
    -ms-background-color: rgba(234, 234, 234, 0.8);
    -o-background-color: rgba(234, 234, 234, 0.8);
    -webkit-background-color: rgba(234, 234, 234, 0.8); }

.footer {
  height: 130px;
  background-image: url("../images/footer.png");
  background-size: cover;
  repeat: no-repeat;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  margin-top: -130px;
  clear: both;
  padding-top: 10px;
  margin-top: 20px; }
  .footer img {
    margin-top: 15px;
    width: 260px;
    display: block;
    margin: 0 auto;
    margin-top: 30px; }

.base .contenido {
  min-height: 500px; }
.base .buscador {
  height: 75px;
  padding: 22px 0px 15px 0px;
  position: relative; }
  .base .buscador input {
    background-color: rgba(0, 0, 0, 0.5);
    -moz-background-color: rgba(0, 0, 0, 0.5);
    -webkit-background-color: rgba(0, 0, 0, 0.5);
    -o-background-color: rgba(0, 0, 0, 0.5);
    -ms-background-color: rgba(0, 0, 0, 0.5);
    border: none; }
.base .head-page {
  padding-right: 250px !Important;
  min-height: 75px;
  padding: 15px 10px;
  position: relative; }
  .base .head-page h3 {
    color: #fff;
    font-size: 17px;
    font-family: 'BrooklynSamuelsFive-Bold';
    padding: 18px; }
.base .sub-footer {
  background-color: rgba(199, 199, 199, 0.2);
  -moz-background-color: rgba(199, 199, 199, 0.2);
  -webkit-background-color: rgba(199, 199, 199, 0.2);
  -o-background-color: rgba(199, 199, 199, 0.2);
  -ms-background-color: rgba(199, 199, 199, 0.2);
  height: 80px;
  padding: 15px 10px;
  position: relative;
  margin-bottom: 80px; }
.base .titulo {
  background-color: rgba(255, 255, 255, 0.5);
  -moz-background-color: rgba(255, 255, 255, 0.5);
  -webkit-background-color: rgba(255, 255, 255, 0.5);
  -o-background-color: rgba(255, 255, 255, 0.5);
  -ms-background-color: rgba(255, 255, 255, 0.5);
  height: 75px;
  padding: 15px 20px;
  position: relative; }
  .base .titulo img {
    float: left;
    margin-right: 10px; }
  .base .titulo .texto {
    float: left; }
  .base .titulo .texto-carrito h3 {
    color: #8E3289 !important; }
  .base .titulo h3 {
    color: #009448; }
  .base .titulo .text-a {
    font-family: 'BrooklynSamuelsFive-Fat';
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 3px; }
  .base .titulo .text-b {
    font-family: 'Brandon_reg';
    font-size: 12px; }
  .base .titulo .block-right {
    position: absolute;
    top: 10px;
    right: -5px;
    background-color: #8E3289;
    width: 230px;
    height: 118px;
    z-index: 2;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px; }
    .base .titulo .block-right .num {
      font-family: 'BrooklynSamuelsFive-Bold';
      font-size: 38px;
      padding-top: 35px;
      width: 100%;
      text-align: center;
      color: #fff; }
    .base .titulo .block-right .sombra {
      background-image: url("../images/sombra-violeta.png");
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      position: absolute;
      right: 0;
      bottom: -5px;
      height: 5px;
      width: 5px; }
    .base .titulo .block-right .text-a {
      font-family: 'Brandon_reg';
      font-size: 14px;
      font-weight: bold;
      width: 100%;
      text-align: center;
      color: #fff;
      opacity: .7;
      height: 20px;
      padding-top: 15px; }
    .base .titulo .block-right .text-b {
      font-family: 'Brandon_reg';
      font-size: 10px;
      font-weight: bold;
      width: 100%;
      text-align: center;
      color: #fff;
      opacity: .7;
      padding-top: 9px; }

.mensaje-error {
  color: #AA4025;
  margin: 20px 0;
  float: left;
  width: 100%; }
  .mensaje-error .text {
    float: left;
    padding-left: 5px;
    padding-top: 4px;
    font-family: 'Brandon_reg';
    font-size: 12px;
    font-weight: bold;
    width: 90%; }
  .mensaje-error .icon {
    float: left; }

.boton:hover {
  opacity: .8; }

.inactivo {
  opacity: .5; }

/* RESPONSIVE  */
/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .contenedor {
    width: 90%;
    margin: 0 5%; } }
/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contenedor {
    width: 90%;
    margin: 0 5%; } }
/**  TABLETS LANDSCAPE **/
/*notbook------------------------------------*/
/*desktop------------------------------*/
/*desktop large-----------------------------------------------*/
/******** ADMIN ********/
.admin .contenedor-A {
  float: left;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(234, 234, 234, 0.8);
  -moz-background-color: rgba(234, 234, 234, 0.8);
  -ms-background-color: rgba(234, 234, 234, 0.8);
  -o-background-color: rgba(234, 234, 234, 0.8);
  -webkit-background-color: rgba(234, 234, 234, 0.8); }
.admin .contenedor-B {
  float: left;
  width: 100%;
  padding: 40px 40px 20px;
  margin-top: 1px;
  box-sizing: border-box;
  background-color: rgba(230, 230, 230, 0.8);
  -moz-background-color: rgba(230, 230, 200, 0.8);
  -ms-background-color: rgba(230, 230, 200, 0.8);
  -o-background-color: rgba(230, 230, 230, 0.8);
  -webkit-background-color: rgba(230, 230, 230, 0.8); }
.admin .contenedor-SELECT {
  float: left;
  width: 100%;
  padding: 0px 40px 40px 40px;
  box-sizing: border-box;
  background-color: rgba(230, 230, 230, 0.8);
  -moz-background-color: rgba(230, 230, 200, 0.8);
  -ms-background-color: rgba(230, 230, 200, 0.8);
  -o-background-color: rgba(230, 230, 230, 0.8);
  -webkit-background-color: rgba(230, 230, 230, 0.8); }
.admin .sub-contenedor {
  float: left;
  width: 90%;
  box-sizing: border-box; }
.admin .titulo-A {
  font-size: 12px;
  color: #434343;
  font-family: 'Gotham-Medium'; }
.admin .titulo-B-line {
  border-top: 1px solid black;
  padding-top: 20px;
  font-size: 12px;
  color: #434343;
  font-family: 'Gotham-Medium';
  margin-bottom: 20px; }
.admin .titulo-B {
  padding-top: 20px;
  font-size: 12px;
  color: #434343;
  font-family: 'Gotham-Medium';
  margin-bottom: 20px; }
.admin .titulo-C {
  padding-top: 20px;
  font-size: 12px;
  color: #434343;
  font-family: 'Gotham-Medium';
  margin-bottom: 20px;
  text-transform: uppercase; }
.admin .hr-A {
  border-bottom: 1px solid #434343;
  margin: 20px 0 30px 0;
  padding: 0; }
.admin .hr-B {
  border-bottom: 1px solid #434343;
  margin: 20px 0;
  padding: 0; }
.admin .hr-SELECT {
  border: none;
  border-bottom: 1px solid #E5AC0E;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left; }
.admin .cerrar-pantalla {
  position: relative; }
  .admin .cerrar-pantalla img {
    position: absolute;
    right: 0;
    top: 17px;
    cursor: pointer; }
    .admin .cerrar-pantalla img:hover {
      opacity: .8; }
.admin .block-resumen {
  float: left;
  width: 240px;
  height: 120px;
  padding: 10px 0;
  margin-right: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-background-color: rgba(255, 255, 255, 0.8);
  -ms-background-color: rgba(255, 255, 255, 0.8);
  -o-background-color: rgba(255, 255, 255, 0.8);
  -webkit-background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 3px rgba(89, 89, 89, 0.5);
  -moz-box-shadow: 0px 0px 3px rgba(89, 89, 89, 0.5);
  -webkit-box-shadow: 0px 0px 3px rgba(89, 89, 89, 0.5);
  box-shadow: 0px 0px 3px rgba(89, 89, 89, 0.5); }
  .admin .block-resumen .hr-resumen {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -moz-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 0; }
  .admin .block-resumen .num {
    font-family: 'Gotham-Light';
    font-size: 30px;
    text-align: center; }
  .admin .block-resumen .text {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #8E3289;
    font-family: 'Open_Sans_Regular'; }
  .admin .block-resumen .text2 {
    font-size: 13px;
    text-align: center;
    color: #666;
    font-family: 'Open_Sans_Regular'; }
  .admin .block-resumen .num2 {
    padding: 5px !important;
    font-size: 44px;
    color: #666; }
  .admin .block-resumen .num3 {
    font-family: 'Gotham-Light';
    font-size: 30px;
    text-align: center;
    padding: 8px 0; }
  .admin .block-resumen .img {
    display: block;
    margin: 18px auto; }
.admin .block-resumen-A {
  width: 102%; }
  .admin .block-resumen-A .block-resumen {
    width: 23%;
    margin-right: 2%;
    height: 160px; }
  .admin .block-resumen-A .num {
    padding: 14px 5px;
    font-size: 44px;
    color: #666; }
  .admin .block-resumen-A .text {
    padding: 5px 5px; }
.admin .filtros {
  float: left;
  width: 100%;
  font-size: 15px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(234, 234, 234, 0.8);
  -moz-background-color: rgba(234, 234, 234, 0.8);
  -ms-background-color: rgba(234, 234, 234, 0.8);
  -o-background-color: rgba(234, 234, 234, 0.8);
  -webkit-background-color: rgba(234, 234, 234, 0.8); }
  .admin .filtros h3 {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    color: #646463;
    font-size: 13px !important; }
  .admin .filtros select {
    background-color: #fff;
    height: 40px;
    color: #009448;
    padding: 10px;
    margin-right: 5px;
    width: 200px;
    border: none;
    float: left;
    font-size: 12px;
    font-family: 'BrooklynSamuelsFive-Bold'; }
  .admin .filtros button {
    background-color: #8E3289;
    color: #fff;
    border: none;
    height: 40px;
    width: auto;
    padding: 5px 10px;
    margin-right: 20px;
    border: none;
    float: left;
    font-size: 11px;
    text-transform: uppercase; }
    .admin .filtros button img {
      position: absolute;
      top: 7px;
      left: 5px; }
    .admin .filtros button:hover {
      opacity: .8; }
  .admin .filtros .button-image {
    position: relative;
    padding-left: 35px; }
.admin .contenedor-TABLA {
  padding: 0px 40px 40px 40px; }
.admin .contenedor-HEAD {
  padding: 40px 40px 20px 40px; }
.admin .format-C .col-1 {
  width: 30%; }
.admin .format-C .col-2 {
  width: 20%; }
.admin .format-C .col-3 {
  width: 30%; }
.admin .format-C .col-4 {
  width: 20%; }
.admin .tabla-mes .guardar {
  background: transparent;
  border: none;
  width: 110px; }
  .admin .tabla-mes .guardar img {
    float: left; }
  .admin .tabla-mes .guardar p {
    float: left;
    color: #666;
    font-size: 10px; }
.admin .tabla-mes {
  width: 111% !important; }
.admin .titulo-meses-B {
  padding-left: 7%;
  margin-top: 30px; }
.admin .titulo-bottom {
  padding-top: 40px; }
.admin .tabla-mes-vendedor {
  margin: 40px 0 10px 0 !important; }
.admin .filtros .button-B {
  background-color: #E5AC0E;
  color: #fff;
  border: none;
  height: 40px;
  width: auto;
  margin-right: 20px;
  border: none;
  float: left;
  font-size: 11px;
  text-transform: uppercase; }
.admin .tabla-A {
  float: left;
  margin: 40px 0;
  width: 105%; }
  .admin .tabla-A .background-A {
    background-color: rgba(255, 255, 255, 0.7);
    -moz-background-color: rgba(255, 255, 255, 0.7);
    -ms-background-color: rgba(255, 255, 255, 0.7);
    -o-background-color: rgba(255, 255, 255, 0.7);
    -webkit-background-color: rgba(255, 255, 255, 0.7); }
  .admin .tabla-A .background-B {
    background-color: rgba(255, 255, 255, 0.45);
    -moz-background-color: rgba(255, 255, 255, 0.45);
    -ms-background-color: rgba(255, 255, 255, 0.45);
    -o-background-color: rgba(255, 255, 255, 0.45);
    -webkit-background-color: rgba(255, 255, 255, 0.45); }
  .admin .tabla-A th, .admin .tabla-A td, .admin .tabla-A tr {
    margin: 2px;
    font-family: 'Open_Sans_Regular';
    font-weight: bold;
    font-size: 11px;
    position: relative; }
  .admin .tabla-A th.col-year {
    font-size: 17px;
    line-height: 17px;
    font-family: 'Gotham-Light'; }
    .admin .tabla-A th.col-year p {
      border-bottom: 1px solid rgba(102, 102, 102, 0.3);
      color: rgba(102, 102, 102, 0.75);
      padding-bottom: 10px;
      margin-right: 2px;
      display: block; }
    .admin .tabla-A th.col-year:last-child p {
      margin: 0; }
  .admin .tabla-A th.col-mes {
    padding-top: 15px;
    font-size: 11px;
    font-family: 'Gotham-Book';
    color: #595959; }
  .admin .tabla-A td {
    height: 40px;
    padding: 5px 10px;
    border: 2px solid #E0E0D1;
    font-family: 'Gotham-Medium';
    font-weight: normal;
    /*border: 1px solid rgba(255, 255, 255, 0.8);
    -moz-border: 1px solid rgba(255, 255, 255, 0.8);
    -ms-border: 1px solid rgba(255, 255, 255, 0.8);
    -o-border: 1px solid rgba(255, 255, 255, 0.8);
    -webkit-border: 1px solid rgba(255, 255, 255, 0.8);*/ }
  .admin .tabla-A .botones {
    border: none;
    background-color: transparent; }
    .admin .tabla-A .botones .boton {
      width: 21px;
      cursor: pointer; }
      .admin .tabla-A .botones .boton:hover {
        opacity: 1;
        border: 1px solid #8E3289; }
    .admin .tabla-A .botones .ojo {
      width: 21px;
      height: 21px;
      cursor: pointer;
      background-image: url("../images/ojo-gris.png");
      background-position: center;
      background-size: 100% auto; }
      .admin .tabla-A .botones .ojo:hover {
        background-image: url("../images/ojo-violeta.png"); }
    .admin .tabla-A .botones .ojo-activo {
      background-image: url("assets/images/ojo-violeta.png"); }
  .admin .tabla-A .sub-item {
    padding: 0; }
    .admin .tabla-A .sub-item .item {
      float: left;
      width: 50%;
      height: 100%;
      text-align: center; }
      .admin .tabla-A .sub-item .item p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
  .admin .tabla-A .gris {
    color: #808080; }
  .admin .tabla-A .violeta {
    color: #8E3289; }
  .admin .tabla-A .center {
    text-align: center; }
  .admin .tabla-A input {
    max-width: 100px;
    background-color: transparent;
    border: none;
    color: #434343;
    text-align: center; }
.admin .tabla-mes {
  width: 100% !important;
  float: left; }
  .admin .tabla-mes tr {
    width: 100%; }
  .admin .tabla-mes th {
    padding-bottom: 10px; }
  .admin .tabla-mes td {
    border: 2px solid rgba(225, 229, 225, 0);
    width: auto;
    color: #595959; }
  .admin .tabla-mes .sin-borde {
    border: none; }
  .admin .tabla-mes input {
    width: 100%;
    font-family: 'Gotham-Medium'; }
.admin .format-A .col-1 {
  width: 24%; }
.admin .format-A .col-2 {
  width: 18%; }
.admin .format-A .col-3 {
  width: 11%; }
.admin .format-A .col-4 {
  width: 20%; }
.admin .format-A .col-5 {
  width: 10%; }
.admin .format-A .col-6 {
  width: 7%; }
.admin .format-A .col-7 {
  width: 10%; }
.admin .format-B .col-1 {
  width: 15%; }
.admin .format-B .col-2 {
  width: 17%; }
.admin .format-B .col-3 {
  width: 15%; }
.admin .format-B .col-4 {
  width: 10%; }
.admin .format-B .col-5 {
  width: 18%; }
.admin .format-B .col-6 {
  width: 9%; }
.admin .format-B .col-7 {
  width: 6%; }
.admin .format-B .col-8 {
  width: 10%; }
.admin .grafico {
  margin: 20px 0; }
.admin .inputs {
  margin: 20px 0; }

/* RESPONSIVE  */
/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .admin .block-resumen {
    width: 100% !important;
    margin-bottom: 10px; }

  .head img {
    float: left; }

  .admin .sub-contenedor {
    width: 100%; }

  .admin .tabla-A {
    width: 100% !important; }

  .admin .tabla-A .admin .tabla-A .col-1 {
    width: 50% !important; }

  .admin .tabla-A .col-2 {
    display: none !important; }

  .admin .tabla-A .col-3 {
    width: 15% !important; }

  .admin .tabla-A .col-4 {
    display: none !important; }

  .admin .tabla-A .col-5 {
    width: 10% !important; }

  .admin .tabla-A .col-6 {
    display: none !important; }

  .admin .tabla-A .col-7 {
    width: 20% !important; }

  .admin .tabla-A .botones {
    width: 5% !important; }

  .admin .filtros select {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 5px; }

  .admin .filtros .button-image {
    width: 100%;
    margin-top: 10px; }

  .admin .format-B .col-1 {
    width: 25% !important; }

  .admin .format-B .col-2 {
    width: 25% !important; }

  .admin .format-B .col-3 {
    display: none !important; }

  .admin .format-B .col-4 {
    width: 25% !important; }

  .admin .format-B .col-5 {
    display: none !important; }

  .admin .format-B .col-6 {
    display: none !important; }

  .admin .format-B .col-7 {
    display: none !important; }

  .admin .format-B .col-8 {
    width: 25% !important; }

  .tabla-mes tr, th, td {
    font-size: 8px !important; }

  .grafico canvas {
    width: 100% !important; } }
/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .admin .block-resumen-A .num {
    font-size: 34px; }

  .admin .block-resumen .text {
    font-size: 11px; }

  .grafico canvas {
    width: 100% !important; } }
/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 767px) and (max-width: 980px) {
  .admin .sub-contenedor {
    width: 100%; }

  .admin .tabla-A {
    width: 100% !important; }

  .admin .filtros select {
    margin-right: 0px;
    width: 33%;
    margin-right: .3%; }

  .admin .filtros .button-image {
    width: 33%;
    margin: 0px;
    float: left; }

  .grafico canvas {
    width: 100% !important; } }
/*notbook------------------------------------*/
/*desktop------------------------------*/
/*desktop large-----------------------------------------------*/
@-ms-viewport {
  width: device-width; }
.container-fluid {
  padding: 0; }

.row {
  margin: 0; }

#header .header {
  background: -moz-linear-gradient(0% 50% 0deg, #009448 0%, rgba(0, 148, 72, 0.36) 19.63%, #009448 77.91%);
  background: -webkit-linear-gradient(0deg, #009448 0%, rgba(0, 148, 72, 0.36) 19.63%, #009448 77.91%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #009448), color-stop(0.1963, rgba(0, 148, 72, 0.36)), color-stop(0.7791, #009448));
  background: -o-linear-gradient(0deg, #009448 0%, rgba(0, 148, 72, 0.36) 19.63%, #009448 77.91%);
  background: -ms-linear-gradient(0deg, #009448 0%, rgba(0, 148, 72, 0.36) 19.63%, #009448 77.91%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#009448', endColorstr='#009448' ,GradientType=0)";
  background: linear-gradient(90deg, #009448 0%, rgba(0, 148, 72, 0.36) 19.63%, #009448 77.91%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009448',endColorstr='#009448' , GradientType=1); }
  #header .header .inner {
    max-width: 980px;
    width: 100%;
    margin: 0 auto; }
    #header .header .inner .controls img {
      margin: 0 auto;
      display: block; }
    #header .header .inner .controls select {
      color: #fff;
      font-family: 'BrooklynSamuelsFive-Bold';
      background-color: #009448;
      border: none;
      box-shadow: none;
      background-image: url("../images/background-select2.png");
      background-size: 100% 80%;
      background-repeat: no-repeat;
      background-position-x: 0;
      background-position-y: bottom;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-right: 20px;
      width: 120px; }
    #header .header .inner .controls .option {
      padding: 10px !important; }
    #header .header .inner .controls .icon-select {
      position: absolute;
      right: 0;
      top: 32px; }
    #header .header .inner .controls .logout {
      float: right;
      padding-top: 10px;
      cursor: pointer; }
      #header .header .inner .controls .logout p {
        color: #fff;
        float: left;
        font-family: 'BrooklynSamuelsFive-Bold';
        font-size: 11px;
        padding-top: 2px;
        padding-right: 5px; }
      #header .header .inner .controls .logout img {
        float: left; }
      #header .header .inner .controls .logout:hover {
        opacity: .5; }

#content .inner {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }
  #content .inner .filters {
    background: #C9C9C9;
    background: rgba(201, 201, 201, 0.6);
    filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    padding: 15px 10px 15px 30px;
    overflow: hidden; }
    #content .inner .filters p {
      color: #009448;
      text-transform: uppercase;
      font-size: 17px;
      font-family: 'BrooklynSamuelsFive-Fat';
      line-height: 40px; }
    #content .inner .filters select {
      background-color: #fff;
      height: 40px;
      color: #009448;
      width: 225px;
      border: none;
      float: right;
      font-size: 14px;
      font-family: 'Gotham-Bold'; }
  #content .inner .data {
    background: -moz-linear-gradient(50% 100% 90deg, rgba(255, 255, 255, 0.8) 0%, white 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, white 100%);
    background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0, rgba(255, 255, 255, 0.8)), color-stop(1, white));
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, white 100%);
    background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, white 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.75) 100%);
    filter: alpha(opacity=75) progid:DXImageTransform.Microsoft.Alpha(opacity=75) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF' , GradientType=0);
    padding: 35px;
    overflow: hidden; }
    #content .inner .data h3 {
      font-size: 12px;
      color: #434343;
      font-family: 'Gotham-Medium';
      text-transform: uppercase; }
    #content .inner .data .boxes {
      margin-top: 15px;
      overflow: hidden; }
      #content .inner .data .boxes .box {
        background: #FFFFFF;
        border: 1px solid #CCCACA;
        border-radius: 5px;
        text-align: center;
        height: 175px;
        position: relative;
        margin: 10px 10px 0 0; }
        #content .inner .data .boxes .box .top {
          float: left;
          width: 100%;
          height: 125px;
          display: table; }
        #content .inner .data .boxes .box p {
          width: 100%;
          font-family: 'Gotham-Light';
          line-height: 45px;
          display: table-cell;
          text-align: center;
          vertical-align: middle; }
          #content .inner .data .boxes .box p span {
            border-top: 1px solid #CCCACA;
            padding-top: 10px;
            margin-top: 10px; }
        #content .inner .data .boxes .box .bot {
          background: rgba(255, 255, 255, 0.8);
          border-top: 1px solid #CCCACA;
          float: left;
          width: 100%;
          height: 48px;
          padding-top: 2px;
          position: absolute;
          bottom: 0;
          border-radius: 0 0 5px 5px;
          padding: 0 10px;
          display: table; }
          #content .inner .data .boxes .box .bot span {
            color: #8D2A90;
            font-family: 'Open_Sans_Regular';
            font-size: 13px;
            font-weight: bold;
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
      #content .inner .data .boxes div:nth-child(1) p {
        color: #999999;
        font-size: 31px; }
      #content .inner .data .boxes div:nth-child(4) p {
        color: #666666;
        font-size: 41px; }
      #content .inner .data .boxes div:nth-child(2) p {
        color: #666666;
        font-size: 41px; }
        #content .inner .data .boxes div:nth-child(2) p span {
          color: #999999;
          font-size: 25px; }
      #content .inner .data .boxes div:nth-child(3) p {
        color: #666666;
        font-size: 41px; }
        #content .inner .data .boxes div:nth-child(3) p span {
          color: #999999;
          font-size: 25px; }
    #content .inner .data .tables h4 {
      font-family: 'Open_Sans_Regular';
      font-weight: bold;
      color: #8D2A90;
      font-size: 13px;
      text-transform: capitalize;
      border-top: 1px solid rgba(102, 102, 102, 0.3);
      padding-top: 25px;
      margin-top: 25px; }
    #content .inner .data .tables table {
      margin-top: 20px; }
      #content .inner .data .tables table .yrs p {
        font-family: 'Gotham-Light';
        font-size: 20px;
        padding-bottom: 10px;
        color: #414141;
        border-bottom: 1px solid #A1A399;
        border-right: 5px solid rgba(102, 102, 102, 0);
        height: 25px; }
      #content .inner .data .tables table .mons p {
        padding-top: 15px;
        font-size: 11px;
        font-family: 'Gotham-Book';
        color: #595959;
        text-transform: uppercase;
        height: 35px;
        line-height: 11px; }
      #content .inner .data .tables table .key p {
        font-size: 11px;
        font-family: 'Gotham-Book';
        color: #595959;
        text-transform: uppercase; }
      #content .inner .data .tables table .input p {
        background: rgba(255, 255, 255, 0.7);
        height: 40px;
        float: left;
        line-height: 40px;
        width: 100%;
        border: 1px solid rgba(161, 163, 153, 0.2);
        color: #666666;
        font-size: 11px;
        font-family: 'Gotham-Medium'; }
        #content .inner .data .tables table .input p.disabled {
          background: rgba(255, 255, 255, 0.2) !important; }
    #content .inner .data .prog-bar h4 {
      font-family: 'Open_Sans_Regular';
      font-weight: bold;
      color: #8D2A90;
      font-size: 13px;
      text-transform: capitalize;
      border-top: 1px solid rgba(102, 102, 102, 0.3);
      padding-top: 25px;
      margin-top: 25px; }
    #content .inner .data .prog-bar .prog-position {
      float: left;
      position: relative;
      padding-top: 110px; }
      #content .inner .data .prog-bar .prog-position p {
        float: left;
        font-family: 'Gotham-Light';
        font-size: 18px;
        color: #666666; }
      #content .inner .data .prog-bar .prog-position .icon {
        width: 100%;
        max-width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto; }
    #content .inner .data .prog-bar .prog-position:nth-child(1) p {
      margin-left: -6px; }
    #content .inner .data .prog-bar .prog-position:nth-child(2) {
      padding-left: 5.3%; }
      #content .inner .data .prog-bar .prog-position:nth-child(2) .icon {
        left: -53%; }
    #content .inner .data .prog-bar .prog-position:nth-child(3) {
      padding-left: 10.8%; }
      #content .inner .data .prog-bar .prog-position:nth-child(3) .icon {
        left: -6%; }
    #content .inner .data .prog-bar .prog-position:nth-child(4) {
      padding-left: 16.7%; }
      #content .inner .data .prog-bar .prog-position:nth-child(4) .icon {
        right: -40%; }
    #content .inner .data .prog-bar .progress {
      position: relative;
      height: 50px;
      margin: 8px 0 5px 0;
      border-radius: 0px;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); }
      #content .inner .data .prog-bar .progress .progress-bar {
        background-color: #BED73B; }
        #content .inner .data .prog-bar .progress .progress-bar img {
          position: absolute;
          height: 25px;
          left: 0;
          width: 100%;
          top: 0; }
    #content .inner .data .prog-bar .indicator {
      background: url("../images/indicator.png") no-repeat;
      background-position: 0px 0px;
      padding: 20px 0 0 12px; }
      #content .inner .data .prog-bar .indicator p {
        font-size: 12px;
        line-height: 16px;
        color: #666666;
        text-transform: uppercase; }
      #content .inner .data .prog-bar .indicator.position1 {
        margin-left: 29%; }
      #content .inner .data .prog-bar .indicator.position2 {
        margin-left: 60%; }
      #content .inner .data .prog-bar .indicator.position3 {
        margin-left: 76%;
        background-position: 68% 0px !important; }

/* RESPONSIVE  */
/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .tables table .mons p {
    font-size: 6px !important;
    overflow: hidden; } }
/*tablet----------------------------------------*/
/**  TABLETS LANDSCAPE **/
/*notbook------------------------------------*/
/*desktop------------------------------*/
/*desktop large-----------------------------------------------*/

/*# sourceMappingURL=estilos.css.map */
